tabs-section {
    position: relative;
    z-index: 1;
    /* importante para que no se meta detrás del fondo */
}

.tab-content-custom {
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.nav-tabs .nav-link.active {
    background-color: #611232 !important;
    color: white !important;
    border-radius: 10px 10px 0 0;
}

.nav-tabs .nav-link {
    font-weight: 600;
    color: #611232;
}

.b-tabs .nav-tabs {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}